[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
albumentations = "*"
scikit-learn = "*"
pandas = "*"
tqdm = "*"
pytorchvideo = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
